
.page-body{margin: 0;
font-family: sans-serif;}
.conteiner{margin-left: auto;
    margin-right: auto;
max-width: 1280px;}
.navigation{display:block;
    text-align: center;
}
.menu{
    padding-top: 26px;
    padding-bottom: 26px;
    padding-left: 0;
    margin: 0;
    list-style: none;}
.menu-item{display: inline-block;
margin-right: 72px;}
.menu-link{
    line-height: 18px;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    color: #FF0000;
}
.menu-item3{display: inline-block;
margin-right: 50px;}
.menu-item4{display: inline-block;}
.image{
width:100%;
height: 789px;
background-size: cover;}
.page-title{
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    margin-top: 48px;
    margin-bottom: 38px;
color: #373737;}
.text1{font-size: 16px;
    line-height: 26px;
    margin:0 68px;
text-align: center;
color: #373737;}
.text2{font-size: 16px;
    line-height: 26px;
    margin: 28px 68px 84px;
text-align: center;
color: #373737;}
.link-wrapper{text-align: center;}
.link-footer{color: #FFFFFF;
font-weight: 700;
font-size: 12px;
line-height: 12px;
background-color: #FF0000;
padding: 18px 43.5px 17px 42.5px;
text-decoration: none;
border-radius: 4px;
text-align: center;
}
.footer{display: inline-block;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    margin: 82px 243px 29px 713px;
color: #373737;}